.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 20em) {
  .header:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 48em) {
  .header:not(:last-child) {
    margin-bottom: 43px;
  }
}

.form {
  position: relative;
}

@media screen and (min-width: 20em) {
  .form {
    min-width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .form {
    min-width: 608px;
  }
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  color: #888888;
  background-color: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
}

.input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* 24/20 */
  letter-spacing: 0.04em;
  color: #888888;
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.input::-webkit-search-cancel-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url('../../images/img/cross-small.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.input:focus + .button,
.input:not(:placeholder-shown) + .button {
  transform: translate(calc(0% - 40px), -50%);
}

.button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #54adff;
}

.button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 80px;
    font-size: 48px;
    margin-bottom: 40px;
  }
}
