// @import *scss основних елемтів
// @import *scss кнопок

// h4,
// h3,
// p {
//   margin: 0;
//   padding: 0;
// }

// .modal_notice__content {

//   padding: 32px 32px 24px 32px;
//   z-index: 2000;
// }

// .ishidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }

// .modal_notice__close {
//   position: absolute;
// width: 24px;
// height: 24px;
// left: 631px;
// top: 23px;
// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   text-align: center;
//  backdrop-filter: blur(2px);
//   margin-left: auto;
//   padding: 6px;
//   border-radius: 40px;
//   cursor: pointer;
//     &:hover, &:focus{
//         background: #54ADFF;
//         fill: #ffffff;
//     }
//     @media screen and (max-width: 767px) {
//       left: 244px;
//       top: 12px;
//     }
// }

// .modal_notice__image_content {
//   position: relative;
//   margin-top: 6px;

// }

.modal_notice__image {
  position: absolute;
  width: 262px;
  height: 298px;
  left: 32px;
  top: 32px;
  object-fit: cover;
  border-radius: 0px 0px 40px 40px;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 240px;
    left: 20px;
    top: 44px;
  }
}

.modal_notice__category {
  position: absolute;
  width: 126px;
  height: 32px;
  left: 32px;
  top: 48px;
  background: #cce4fb;
  display: block;
  border-radius: 0px 40px 40px 0px;
  @media screen and (max-width: 767px) {
    left: 20px;
    top: 60px;
  }
}

.modal_notice__category_info {
  position: absolute;
  width: 126px;
  height: 10px;
  top: 10px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_notice__full {
  position: absolute;
  left: 318px;
  top: 34px;
  @media screen and (max-width: 767px) {
    left: 12px;
    top: 296px;
  }
}

.modal_notice__full_title {
  // position: absolute;
  width: 321px;
  // height: 76px;
  left: 318px;
  top: 32px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: #000000;
  @media screen and (max-width: 767px) {
    width: 208px;
    font-size: 24px;
  line-height: 33px;
  }
}

.modal_notice__list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.modal_notice__item {
  display: flex;
  align-items: center;
  margin-top: 8px;
  list-style: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  left: 439px;
  &:first-child {
    margin-top: 0px;
  }
}

.modal_notice__item_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  min-width: 70px;
  margin-right: 40px;

  &:last-child {
    width: auto;
    margin-right: 0px;
  }
  color: #000000;
  @media screen and (max-width: 767px) {
    font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  }
}

.modal_notice__item_description {
  font-style: normal;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-left: 1px;
    color: #000000;
    @media screen and (max-width: 767px) {
      font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    }
}

.modal_notice__item_comment {
  position: absolute;
  width: 618px;
  height: 48px;
  left: 32px;
  top: 378px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  flex-direction: row;
  align-items: flex-start;

  color: #000000;
  @media screen and (max-width: 767px) {
    left: 12px;
    top: 605px;
    width: 256px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.modal_notice__button_container {
  margin-top: 40px;
}
.modal_notice__button > svg {
  margin-left: 8px;
}

.modal_notice__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;

  width: 129px;
  height: 40px;
  left: 648px;
  top: 317px;

  background: #54adff;
  border-radius: 40px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: #fef9f9;

  &:last-child {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }

  &:hover > svg,
  &:focus > svg {
    fill: #fef9f9;
  }
}

.modal_notice__list {
  margin-top: 20px;
  list-style: none;
}

.modal_notice__item_description {
  font-size: 16px;
  line-height: 22px;
}

.modal_notice__button_contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;

  position: absolute;
  width: 129px;
  height: 40px;
  left: 521px;
  top: 476px;

  border: 2px solid #54adff;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* Голубой (ссылки) */

  color: #54adff;
  &:hover,
  &:focus {
    background: #54adff;
    color: #fef9f9;
  }
  @media screen and (max-width: 767px) {
    width: 256px;
    height: 40px;
    left: 12px;
    top: 682px;
  }
}

.modal_notice__button_favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;

  position: absolute;
  width: 129px;
  height: 40px;
  left: 375px;
  top: 476px;
  background: #54adff;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* Фоновый */

  color: #fef9f9;
  &:hover,
  &:focus {
    background: #fef9f9;
    color: #54adff;
  }
  @media screen and (max-width: 767px) {
    width: 256px;
    height: 40px;
    left: 12px;
    top: 730px;
  }
}

.modal_notice__icon_favorite {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #fef9f9;
  &:hover,
  &:focus {
       background: #54adff;
  }
}

// }

// @media screen and (min-width: 768px) {
//   .modal_notice__content {
//     min-width: 704px;
//     padding: 32px 20px;
//   }

//   .modal_notice__content_info {
//     display: flex;
//     position: relative;
//   }

//   .modal_notice__close {
//     position: absolute;
//     right: 0px;
//     top: -8px;
//   }

//   .modal_notice__image_content {
//     margin-top: 0px;
//     margin-right: 20px;
//   }

//   .modal_notice__image {
//     border-radius: 0px 0px 40px 40px;
//     width: 288px;
//     height: 328px;
//   }

//   .modal_notice__item_title {
//     font-size: 16px;
//     line-height: 22px;
//     min-width: 73px;
//     margin-right: 48px;

//     &:last-child {
//       width: auto;
//       margin-right: 0px;
//     }
//   }

//   .modal_notice__item_comment {
//     margin-top: 28px;
//     font-size: 16px;
//     line-height: 24px;
//   }

// .modal_notice__button_container {
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: row-reverse;
// }

//   .modal_notice__button {
//     max-width: 160px;
//     &:last-child {
//       margin-top: 0px;
//       margin-right: 12px;
//     }
//   }

//   .modal_notice__button_main {
//     padding: 10px 28px;
//   background: #54ADFF;
//   border-radius: 40px;
//   color: #54ADFF;
//   letter-spacing: 0.04em;
//   border: 2px solid #FEF9F9;

//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 27px;

//   cursor: pointer;

//   &:hover,
//   &:focus {
//     background: transparent;
//     color: #FEF9F9;
//   }
// }