@charset "UTF-8";
h4,
h3,
p {
  margin: 0;
  padding: 0;
}

.modal_notice__content {
  padding: 32px 32px 24px 32px;
  z-index: 2000;
}

.modal_notice__close {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 631px;
  top: 23px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin-left: auto;
  padding: 6px;
  border-radius: 40px;
  cursor: pointer;
}
.modal_notice__close:hover, .modal_notice__close:focus {
  background: #54ADFF;
  color: #CCE4FB;
}
@media screen and (max-width: 767px) {
  .modal_notice__close {
    left: 244px;
    top: 12px;
  }
}

.modal_notice__image {
  position: absolute;
  width: 262px;
  height: 298px;
  left: 32px;
  top: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal_notice__category {
  position: absolute;
  width: 126px;
  height: 32px;
  left: 32px;
  top: 48px;
  background: #CCE4FB;
  display: block;
  border-radius: 0px 40px 40px 0px;
}

.modal_notice__category_info {
  position: absolute;
  width: 92px;
  height: 10px;
  left: 44px;
  top: 59px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #111111;
}

.modal_notice__full {
  position: absolute;
  left: 318px;
  top: 73px;
}

scss.modal_notice__title {
  position: absolute;
  width: 321px;
  height: 76px;
  left: 318px;
  top: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: #000000;
}

.modal_notice__list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.modal_notice__item {
  display: flex;
  align-items: center;
  margin-top: 8px;
  list-style: none;
}
.modal_notice__item:first-child {
  margin-top: 0px;
}

.modal_notice__item_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-width: 63px;
  margin-right: 40px;
  color: #000000;
}
.modal_notice__item_title:last-child {
  width: auto;
  margin-right: 0px;
}

.modal_notice__item_description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  word-break: break-word;
  color: #000000;
}

.modal_notice__item_comment {
  position: absolute;
  width: 618px;
  height: 48px;
  left: 32px;
  top: 358px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.modal_notice__button_container {
  margin-top: 40px;
}

.modal_notice__button > svg {
  margin-left: 8px;
}

.modal_notice__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  width: 129px;
  height: 40px;
  left: 648px;
  top: 317px;
  background: #54ADFF;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #FEF9F9;
}
.modal_notice__button:last-child {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.modal_notice__button:hover > svg, .modal_notice__button:focus > svg {
  fill: #FEF9F9;
}

.modal_notice__list {
  margin-top: 20px;
  list-style: none;
}

.modal_notice__item_description {
  font-size: 16px;
  line-height: 22px;
}

.modal_notice__button_contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  position: absolute;
  width: 129px;
  height: 40px;
  left: 521px;
  top: 476px;
  border: 2px solid #54ADFF;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  /* Голубой (ссылки) */
  color: #54ADFF;
}
.modal_notice__button_contact:hover, .modal_notice__button_contact:focus {
  background: #54ADFF;
  color: #FEF9F9;
}

.modal_notice__button_favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  position: absolute;
  width: 129px;
  height: 40px;
  left: 375px;
  top: 476px;
  background: #54ADFF;
  border-radius: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  /* Фоновый */
  color: #FEF9F9;
}
.modal_notice__button_favorite:hover, .modal_notice__button_favorite:focus {
  background: #54ADFF;
}

.modal_notice__icon_favorite {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #FEF9F9;
}
.modal_notice__icon_favorite:hover, .modal_notice__icon_favorite:focus {
  background: #54ADFF;
}/*# sourceMappingURL=modal-notice.module.css.map */