.inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

@media screen and (min-width: 20em) {
    .inner:not(:last-child) {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 48em) {
    .inner:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 80em) {
    .inner {
        align-items: center;
    }

    .inner :not(:last-child) {
        margin-bottom: 42px;
    }
}

@media screen and (min-width: 20em) {
    .navigation {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        max-width: 205px;
    }
}

@media screen and (min-width: 48em) {
    .navigation {
        max-width: 319px;
    }
}

@media screen and (min-width: 80em) {
    .navigation {
        max-width: 100%;
    }
}

.navigationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 8px 16px;
    background-color: #cce4fb;
    color: #54adff;
    border-radius: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 135.714286%;
    letter-spacing: 0.04em;
}

/* .navigationButton.active {
    background-color: #54adff;
    color: #fef9f9;
} */

.navigationButton:hover{
    background-color: #54adff;
    color: #fef9f9;
}

.functional {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 48em) {
    .functional {
        gap: 12px;
    }
}

@media screen and (min-width: 80em) {
    .functional {
        gap: 16px;
    }
}

.functionalButton {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;

    border-radius: 40px;
    background: transparent;
    color: #54adff;
}

.functionalButton span {
    font-weight: 700;
    font-size: 16px;
    line-height: 137.5%;
    /* 22/16 */
}

.functionalButton svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
}

@media screen and (min-width: 48em) {
    .functional__button {
        border: 2px solid #54adff;
    }
}

@media screen and (min-width: 48em) {
    .functionalButton:nth-child(1) {
        transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
    }

    .functionalButton:nth-child(1)::before {
        content: "";
        position: absolute;
        top: 0;
        right: -3.125rem;
        bottom: 0;
        left: 0;
        background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
        border-radius: 30% 70% 100% 0%/1% 48% 52% 99%;
        transition: border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-100%);
        z-index: -1;
    }

    @media (any-hover: hover) {
        .functionalButton:nth-child(1):hover {
            color: #fef9f9;
        }

        .functionalButton:nth-child(1):hover::before {
            transform: translateX(0);
            border-radius: 0%;
        }
    }

    @media screen and (max-width: 48em) {
        .functionalButton:nth-child(1) {
            width: 40px;
            height: 40px;
            padding: 0;
            border-radius: 50%;
            background-color: #c5dff6;
        }

        .functionalButton:nth-child(1) span {
            display: none;
        }
    }
}

.functionalButton:nth-child(2) {
    color: #fef9f9;
    background-color: #54adff;
}

@media screen and (max-width: 48em) {
    .functionalButton:nth-child(2) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);

        width: 80px;
        height: 80px;
        padding: 0;
        flex-direction: column-reverse;
        gap: 4px;
        background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
        box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    }

    .functionalButton:nth-child(2) span {
        font-weight: 600;
        font-size: 12px;
        line-height: 133.333333%;
        /* 16/12 */
    }
}