.UserPageTitle {
    font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.35;
        letter-spacing: 0.04em;
    
        color: #000000;

        @media screen and (min-width: 768px) {
                font-size: 28px;
            }
}