.div {
    @media screen and (max-width: 767px) {
      display: none;
  }
}

.login {
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  padding: 9px 41px;
  color: #fef9f9;
  text-decoration: none;
  background-color: #ffc107;
  border: 2px solid #ffc107;
  border-radius: 40px;
}

.register {
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  padding: 9px 20px;
  color: #ffc107;
  text-decoration: none;
  background-color: #fef9f9;
  border: 2px solid #ffc107;
  border-radius: 40px;
  margin-right: 15px;
}

.icon {
 margin-left: 8px;
}
