.modal__header {
  display: flex;
  justify-content: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #111111;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: calc(33 / 24);
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(49 / 36);
    margin-bottom: 52px;
  }
}

.modal_title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: #111111;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: calc(33 / 24);
  }
}

.modal_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 8px;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;

  background: #54adff;
  border: none;
  border-radius: 40px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 248px;
  }
}

.modal__button_text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-right: 12px;
  letter-spacing: 0.04em;
  color: #fef9f9;
}

.modal_button_items {
  display: flex;
  justify-content: space-between;
}
