.div {
  height: 100vh;
  display: grid;
  justify-content: center;
  margin-top: 40px;
}
.title {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 36px;
  line-height: calc(49 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
  color: #111111;
}
