.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 250ms, visibility 250ms;
}



.modal {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  width: 681px;
  height: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms;
  transform: translate(-50%, -50%) scale(1) rotateY(0);
  border-radius: 40px;
  border: 1px solid #54ADFF;
// width: 681px;
// height: 540px;
// left: 299px;
// top: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #ffffff;
   backdrop-filter: blur(10px);
   z-index: 2000;
   overflow: hidden;
   text-decoration: none;
   list-style: none;
     @media screen and (max-width: 767px) {
    width: 280px;
    height: 786px;
  }
 }
 
 .modal__section {
   border-radius: 20px;
   background-color: #ffffff;
   text-decoration: none;
   list-style: none;
 
     @media screen and (max-width: 768px) {
     height: 95%;
     overflow-y: scroll;
   }
 }
 
 