.UserPageCard {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 20px;
    width: 280px;

    @media screen and (min-width: 768px) {
            width: 704px;
            

            padding-left: 33px;
            padding-right: 63px;
            padding-top: 25px;
            border-radius: 40px;
            }
    
    @media screen and (min-width: 1280px) {
            width: 395px;
            
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 20px;
            margin-bottom: 0px;
            }
}


.addImg {
        margin-bottom: 0px;
        width: 182px;
        height: 182px;
        border-radius: 40px;
}

.addImgInput {
        display: none
}