.friendsList {
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

.card {
  flex-direction: column;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  padding: 15px;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 1.35;
    color: #54adff;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }
  }

  &__wrap {
    display: flex;
    gap: 16px;
  }

  img {
    width: 100px;
    height: 68px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
  }

  &__listItem {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    color: #111111;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      color: #54adff;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

.timeOverlay {
  position: relative;
}

.listDays {
  position: absolute;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 160px;
  border: 1px solid #54adff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 8px;
  background-color: white;
}

.dayOpening {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}
