// Mobile first step

.container {
   padding-top: 20px;
}

.formWrapper {
   max-width: 280px;
   padding: 20px 8px 16px;
   background-color: #fff;

   display: Flex;
   flex-direction: column;

   // margin-top: 20px;

   background-color: #FFFFFF;
   box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
   border-radius: 40px;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 16px;
}

.formStepOne {
   margin-top: 24px;

}

.title {
   margin-bottom: 24px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.37;
   color: #111111;
}

.categoryTitleWrapper {
   display: flex;
   justify-content: center;
}

.categoryTitle {
   font-weight: 500;
   font-size: 10px;
   line-height: 1.37;
   color: #888888
}

.categoryTitle:not(:last-child) {
   margin-right: 12px;
}

.coming::after {
   display: block;
   content: '';
   margin-top: 12px;
   width: 80px;
   height: 8px;
   border-radius: 8px;
   background-color: #CCE4FB;
}

.current::after {
   display: block;
   content: '';
   margin-top: 12px;
   width: 80px;
   height: 8px;
   border-radius: 8px;
   background-color: #54ADFF;
}

.completed::after {
   display: block;
   content: '';
   margin-top: 12px;
   width: 80px;
   height: 8px;
   border-radius: 8px;
   background-color: #00C3AD;
}

.categoryLabel {
   padding: 8px 16px;
   border-radius: 40px;
   background-color: rgba(140, 200, 253, 0.44);

   font-weight: 500;
   color: #54ADFF;

   font-family: 'Manrope';
   font-size: 14px;
   line-height: 1.36;
   letter-spacing: 0.04em;
}

.category {
   display: none;
}

.activeCategoryLabel {
   composes: categoryLabel;
   background-color: #54ADFF;
   color: #FEF9F9;
}

.categoryLabel:not(:first-child) {
   margin-top: 12px;
}

.nextBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   align-self: center;

   background-color: #54ADFF;
   width: 248px;
   height: 40px;
   border-radius: 40px;
   border-color: transparent;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.04em;
   color: #FEF9F9;
}

.cancelBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   align-self: center;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.04em;
   color: #54ADFF;

   border-color: transparent;
   background-color: transparent;
}

.btnsWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   gap: 21px;
   margin-top: 24px;
}

.btnsFirstStepWrap {
   composes: btnsWrap;
   margin-top: 91px;
}

// Mobile second step

.btnsStepTwoYourPetWrap {
   composes: btnsWrap;
   margin-top: 35px;
}

.inputLabel {
   display: block;

   font-weight: 500;
   font-size: 14px;
   color: #111;
   line-height: 1.7;
}

.inputLabel:not(:first-child) {
   margin-top: 20px;
}

.input {
   width: 264px;
   height: 40px;
   border: 1px solid #54ADFF;
   border-radius: 40px;

   margin-top: 4px;
   padding-left: 16px;


}

input::placeholder {
   font-family: Manrope;
   font-size: 14px;
   line-height: 1.5;
   color: #888888;
   letter-spacing: 0.04em;
}

// Mobile third step

.addImg {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 4px;
   width: 112px;
   height: 112px;
   background-color: #CCE4FB;
   border-radius: 20px;
   overflow: hidden;
}

.addImgInput {
   display: none
}

.addImgWrap {
   display: flex;
   align-items: center;
   gap: 27px;
}

.commentTextarea {
   resize: none;

   width: 264px;
   height: 92px;

   margin-top: 4px;
   padding: 8px 16px;

   border: 1px solid #54ADFF;
   border-radius: 20px;
}

.commentTextarea::placeholder {
   font-family: Manrope;
   font-size: 14px;
   line-height: 1.5;
   color: #888888;
   letter-spacing: 0.04em;
}

.sexWrap {
   display: flex;
   gap: 16px;
   margin-top: 8px;
   margin-bottom: 16px;
}

.sexInput {
   display: none;
}

.sexLabel {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;

   color: #888888;
}

.activeMaleSexLabel {
   composes: sexLabel;
   margin: 0;
   color: #54ADFF;
}

.activeFemaleSexLabel {
   composes: sexLabel;
   margin: 0;
   color: #F43F5E
}

@media screen and (min-width: 768px) {

   // Tablet first step
   .container {
      padding-top: 60px;
      padding-bottom: 523px;
   }

   .formWrapper {
      margin-right: auto;
      margin-left: auto;
      // margin-bottom: 523px;

      max-width: 458px;
      // margin-top: 60px;
      padding: 20px 32px;
   }

   .formWrapperThirdStep {
      composes: formWrapper;
      max-width: 704px;
   }

   .form {
      margin-top: 20px;
   }

   .formStepOne{
      margin-top: 40px;
   }

   .formStepThree {
      composes: form;
      align-items: center;
   }

   .title {
      font-size: 28px;
   }

   .titleThirdStep {
      composes: title;
      display: flex;
      align-self: center;
   }

   .categoryTitle {
      font-size: 16px;
   }

   .categoryTitle:not(:last-child) {
       margin-right: 22px;    
   }

   .coming::after {
      width: 120px;
   }
   
   .current::after {
      width: 120px;
     }
   
   .completed::after {
      width: 120px;
   }

   .btnsWrap {
      align-self: center;
      flex-direction: row-reverse;
      gap: 24px;
   }

   

   .btnsFirstStepWrap {
      margin-top: 137px;
    }

   .btnsThirdStepWrap {
      composes: btnsWrap;
      margin-top: 60px;
   }

   //  Tablet second step 

   .inputLabel {
      font-size: 20px;
   }

   .input {
      width: 394px;
      height: 48px;
   
      margin-top: 8px;
   }

   .inputLabel:not(:first-child) {
      margin-top: 24px;
   }

   input::placeholder {
      font-size: 16px;
   }

   .btnsStepTwoYourPetWrap {
      margin-top: 40px;
   }

   // Tablet third step

   .addImg {
      margin-bottom: 0px;
      width: 182px;
      height: 182px;
      border-radius: 40px;
   }

   .addImgWrap {
      gap: 33px;
   }

   .addImgThirdStepWrap {
      composes: addImgWrap;
      flex-direction: column;
      gap: 8px;
   }

   .commentTextarea {
      width: 393px;
      height: 79px;
      margin-top: 8px;
      padding: 12px 16px;
   }

   .commentTextarea::placeholder {
      font-size: 16px;
   }

   .textareaThirdStep {
      composes: commentTextarea;
      height: 182px;
   }

   .thirdStepFormWrap {
      display: flex;
   }
   
   .thirdStepInputwrap {
      margin-left: 45px;
   }
}   

@media screen and (min-width: 1280px) {
   // Desktop first step
      .container {
         padding-top: 40px;
         padding-bottom: 118px;
      }
   
      .formWrapperThirdStep {
         max-width: 822px;
         padding: 20px 75px 37px;
      }
   
      // Desktop third step
   
   
      .addImgThirdStepWrap {
         composes: addImgWrap;
         gap: 12px;
      }
   
      .thirdStepInputwrap {
         margin-left: 97px;
      }

      // .addImgLabelThirdStep {
      //    composes: inputLabel;
      //    font-size: 18px;
      // }
}

// Errors

.error {
   border-color: #F43F5E;
}

.addImgErr {
   border: 1px solid #F43F5E;
}

.errMessage {
   margin-top: 4px;
   margin-left: 16px;
   color: #F43F5E;
   font-size: 12px;
   line-height: 1.37;
}