/* Mobile */

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
  
   background-color: #fff;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 16px;
}

.formStepOne {
   margin-top: 24px;
   
}

.formWrapper {
   display: Flex;
   flex-direction: column;
   padding: 20px 8px 16px;

   background-color: #FFFFFF;
   box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
   border-radius: 40px;
}

.categoryTitleWrapper {
   display: flex;
   
}

.title {
   margin-bottom: 24px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.37;
   color: #111111;
}
.categoryTitle {
   font-weight: 500;
   font-size: 10px;
   line-height: 1.37;
   color:#888888
}

.categoryTitle:not(:last-child) {
   margin-right: 12px;
}

.coming::after {
   display: block;
   content: '';
   margin-top: 12px;
   width: 80px;
   height: 8px;
   border-radius: 8px;
   background-color: #CCE4FB;
}

.current::after {
   display: block;
      content: '';
      margin-top: 12px;
      width: 80px;
      height: 8px;
      border-radius: 8px;
   background-color: #54ADFF;
}

.completed::after {
   display: block;
      content: '';
      margin-top: 12px;
      width: 80px;
      height: 8px;
      border-radius: 8px;
      background-color: #00C3AD;
   }

.category {
   display: none;
}

.categoryLabel {
  padding: 8px 16px;
   border-radius: 40px;
   background-color: rgba(140, 200, 253, 0.44);

   font-weight: 500;
   color: #54ADFF;

   font-family: 'Manrope';
   font-size: 14px;
   line-height: 1.36;
   letter-spacing: 0.04em;
}

.activeCategoryLabel {
   composes: categoryLabel;
   background-color: #54ADFF;
   color: #FEF9F9;
}

.categoryLabel:not(:first-child) {
   margin-top: 12px;
}

.nextBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   align-self: center;

   margin-top: 24px;

   background-color: #54ADFF;
   width: 248px;
   height: 40px;
   border-radius: 40px;
   border-color: transparent;

   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.04em;
   color: #FEF9F9;
}

.nextBtnFirstSrep {
   composes: nextBtn;
   margin-top: 91px;
}

.nxtBtnStepTwoYourPet {
   composes: nextBtn;
   margin-top: 35px;
}

.cancelBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   align-self: center;

   margin-top: 21px;

   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.04em;
   color: #54ADFF;

   border-color: transparent;
   background-color: transparent;
}

.inputLabel {
   display: block;
   
   font-weight: 500;
   font-size: 14px;
   color: #111;
   line-height: 1.7;
}

.inputLabel:not(:first-child) {
   margin-top: 20px;
}

.input {
   width: 264px;
   height: 40px;
   border: 1px solid #54ADFF;
   border-radius: 40px;

   margin-top: 4px;
   padding-left: 16px;
  

}

input::placeholder {
   font-family: Manrope;
   font-size: 14px;
   line-height: 1.5;
   color: #888888;
   letter-spacing: 0.04em;
}

.addImg {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 4px;
   width: 112px;
   height: 112px;
   background-color: #CCE4FB;
   border-radius: 20px;
}

.addImgInput {
   display: none
}

.addImgWrap {
   display: flex;
   align-items: center;
   gap: 27px;
}

.commentTextarea {
   resize: none;
   
   width:264px;
   height: 92px;

   margin-top: 4px;
   padding: 8px 16px;

   border: 1px solid #54ADFF;
   border-radius: 20px;
}

.commentTextarea::placeholder {
   font-family: Manrope;
   font-size: 14px;
   line-height: 1.5;
   color: #888888;
   letter-spacing: 0.04em;
}

.sexWrap {
   display: flex;
   gap:16px;
   margin-top: 8px;
   margin-bottom: 16px;
}

.sexInput {
   display: none;
}

.sexLabel {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;

   color: #888888;
}

.activeMaleSexLabel {
   composes: sexLabel;
   margin: 0;
   color: #54ADFF;
}

.activeFemaleSexLabel {
   composes: sexLabel;
   margin: 0;
   color: #F43F5E
}

// Tablet

// .thirdStepFormWrap {
//    display: flex;
// }

// .thirdStepInputwrap {
//    margin-left: 45px;
// }




