/* .formWrapper{
    @media screen and (min-width: 768px) {
            
            display: flex;
            flex-direction: row-reverse;
    
        }
    
        @media screen and (min-width: 1280px) {
             flex-direction: column;
                    }
} */

.form {
        @media screen and (min-width: 768px) {
            
            display: flex;
            flex-direction: row-reverse;
            
                }
        @media screen and (min-width: 1280px) {     
            flex-direction: column;
        }
}

.formFieldWrapper {
    margin-right: auto;
    margin-top: 20px;
    
        @media screen and (min-width: 768px) {
            margin-top: 0px;    
        }
    
        @media screen and (min-width: 1280px) {
            margin-top: 25px;     
        }
}

.fieldWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;

    @media screen and (min-width:768px) {
            margin-bottom: 8px;
        }

}

.fieldName {
    font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 0.04em;

@media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.field {
    
    display: block;
    padding: 4px 12px;   
    border: 1px solid #54ADFF;
    border-radius: 20px;
    width: 190px;
    height: 28px;
    margin-left: 8px;

    font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #111111;
        
    @media screen and (min-width:768px) {
        width: 255px;
        height: 32px;
        margin-left: 16px;
        
        font-size: 16px;
        line-height: 1.37;
            
        }
       
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 182px;
    height: 182px;
    border-radius: 40px;
    background-color: #CCE4FB;
    overflow: hidden;
}

.photo img {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.editPhotoWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 14px;
}

.editPhotoTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    margin-left: 8px;
    margin-right: 8px;
}

.editBtn {
    position: absolute;
    right: 12px;
}

.uploadbtn {
    display: none;
}

/* .submitting svg {
    
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */