
// .modal_approve_action__box {
//    position: absolute;
//    width: 608px;
//    height: 352px;
//    left: calc(50% - 608px/2);
//    top: 440px;
//    background: #FFFFFF;
//    border-radius: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     backdrop-filter: blur(10px);
//     z-index: 2000;
//     overflow: hidden;
//   }
  
//   .modal_approve_action__text {
//    position: absolute;
// width: 288px;
// height: 38px;
// left: calc(50% - 288px/2);
// top: 60px;
// font-size: 28px;
// line-height: 38px;
// letter-spacing: -0.01em;
// color: #000000;
//   }

// .modal_approve_action__question {
//    position: absolute;
//    width: 393px;
//    height: 66px;
//    left: calc(50% - 393px/2 + 2.5px);
//    top: 138px;
//    font-size: 16px;
//    line-height: 22px;
//    text-align: center;
//    letter-spacing: -0.01em;
//    color: #000000;
//   }

// .modal_approve_action__button {
// display: flex;
// flex-direction: row;
// justify-content: center;
// align-items: center;
// padding: 8px 20px;
// gap: 8px;
// position: absolute;
// width: 129px;
// height: 40px;
// left: 306px;
// top: 252px;
// background: #54ADFF;
// border-radius: 40px;
// cursor: pointer;
// &:hover, &:focus{
//     background: #ffffff;
// }
// }
