@media screen and (min-width: 20em) {
    .list {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }

    .list:not(:last-child) {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 48em) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 32px;
    }
}

@media screen and (min-width: 80em) {
    .list {
        grid-template-columns: repeat(4, 288px);
    }
}

.article {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 0px 0px 40px 40px;
}

.articlePicture {
    position: relative;
    /* width: 280px; */
    height: 288px; 
    display: flex;
    max-width: 100%;
    /* padding-bottom: 100%; */
    /* 288/288 */
}

@media screen and (max-width: 32em) {
.articlePicture img {
    max-width: 100%;
    height: auto;
}

}

.articlePicture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleDescription {
    padding: 0 20px 24px 20px;
}

.articleDescription h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 137.5%;
    /* 33/24 */
    color: #111111;
}

.articleDescription h4:not(:last-child) {
    margin-bottom: 20px;
}

/* ___ */
.articleDescription button {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 8px;
    width: 100%;

    font-weight: 600;
    font-size: 16px;
    line-height: 137.5%;
    /* 22/16 */
    letter-spacing: 0.04em;
    color: #54adff;

    border: 2px solid #54adff;
    border-radius: 40px;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.articleDescription button::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3.125rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
    border-radius: 30% 70% 100% 0% / 1% 48% 52% 99%;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-100%);
    z-index: -1;
}

.articleDescription button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(50% + 45px), -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
        visibility cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
}

@media (any-hover: hover) {
    .articleDescription button:hover {
        color: #fef9f9;
    }

    .articleDescription button img {
        opacity: 1;
        visibility: visible;
    }

    .articleDescription button:hover::before {
        transform: translateX(0);
        border-radius: 0%;
    }
}

/* ___ */

.articleHeader {
    position: relative;
}



.articlePicture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleLine {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    padding-right: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleLine span {
    font-weight: 500;
    font-size: 14px;
    line-height: 135.714286%;
    /* 19/14 */

    padding: 11px 17px;
    background-color: #cce4fb;
    border-radius: 0px 16px 16px 0px;
}

.articleDecor {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #cce4fb;
    color: #54adff;

    border-radius: 50%;
    padding: 8px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
    .articleDecor:hover {
        transform: scale(1.1);
    }
}

.articleDecor svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.articleList {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    padding: 0 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
}

.articleItems {
    padding: 2px 4px;
    color: #54adff;
    background-color: #cce4fb;
    border-radius: 16px;
    transition: background-color color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.articleItems span {
    font-weight: 600;
    font-size: 12px;
    line-height: 133.333333%;
    /* 16/12 */
    letter-spacing: 0.04em;
    color: #111111;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.articleItems a,
.articleItems button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.articleItems a svg,
.articleItems button svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
    .articleItems:hover {
        background-color: #54adff;
    }

    .articleItems:hover span,
    .articleItems:hover svg {
        color: #fef9f9;
    }
}

.functionalButton {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
z-index: 5;
    border-radius: 40px;
 color: #fef9f9;
    background-color: #54adff;
}

.functionalButton span {
    font-weight: 700;
    font-size: 16px;
    line-height: 137.5%;
    /* 22/16 */
}

.functionalButton svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
}

@media screen and (max-width: 48em) {
    .functionalButton {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);

        width: 80px;
        height: 80px;
        padding: 0;
        flex-direction: column-reverse;
        gap: 4px;
        background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
        box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    }

    .functionalButton span {
        font-weight: 600;
        font-size: 12px;
        line-height: 133.333333%;
        /* 16/12 */
    }

}
@media screen and (min-width: 48em) {
    .functionalButton {
display:none;
    
    }
}


