.div {
    display: flex;
    align-items: center;
}

.item {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  margin-right: 40px;
  color: #111111;
  text-decoration: none;
}
