.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  @media (min-width: 767px) {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3;
    margin-top: 60px;
  }
}

.imgPets {
  height: 123px;
  background-image: url('../../images/NotFound/404_1x_mob.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 60px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/NotFound/404_2x_mob.png');
  }

  @media (min-width: 767px) {
    height: 308px;
    margin-bottom: 70px;
    background-image: url('../../images/NotFound/404_1x_tab.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/NotFound/404_2x_tab.png');
    }
  }
  @media (min-width: 1280px) {
    height: 360px;
    margin-bottom: 16px;
    background-image: url('../../images/NotFound/404_1x.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/NotFound/404_2x.png');
    }
  }
}

.button {
    
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    padding: 9px 41px;
    color: #fef9f9;
    text-decoration: none;
    background-color: #54ADFF;
    border: 2px solid #54ADFF;
    border-radius: 40px;
align-items: center;
  }

  .icon {
    margin-left: 8px;
   }